@use '../../Constants/constants.sass' as *


.header
  width: 100vw
  height: 102px

  display: flex
  justify-content: center
  align-items: center
  position: fixed

  background-color: $accent


.header__inner
  width: 100%
  height: 100%

  display: flex
  justify-content: center
  align-items: center


.header__buttons

  &_left
    width: 100%

    display: flex
    justify-content: flex-start

  &_right
    width: 100%

    display: flex
    justify-content: flex-end


.header__icons
  display: flex
  align-items: center